.navbarsearch{
    margin-left: 25%;
}
#icon{
    height: 25px;
    width: 25px;
    margin-left: 50px;
}
.search{
    display: inline-block;
    float: right;
    margin-left: 20px;

}
.isearch{
    width: 150px;
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(57, 57, 57);
    padding: 8px 8px 18px;
    margin-top: 6px;
    transition-duration: 0.6s;
    transition-property: width,color;
}
.isearch:focus{
    width: 160px;
    border-bottom: 1px solid #cc181e;
}
#imgsearch{
    height: 25px;
    width: 25px;
}

#divyataycards{
    margin-right: 138px;
}
