.navbar{
   
    background: linear-gradient(0deg, rgba(46,140,142,1) -70%, rgba(105,28,144,1) 100%);
}

.navbarsearch{
    margin-left: 25%;
}
#icon{
    height: 25px;
    width: 25px;
    margin-left: 20px;
}
.menu{
    list-style-type:none;
}
.acilir-menu {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 135px;
    border-right: 1px double #ffffff;
    border-left: 1px double #000000;    
}

.acilir-menu a {
    display: block;
    text-align: left;
    color: black;
    
}

.acilir-menu a:hover {
    background-color: #691c90;
    color: rgb(218, 218, 218);
}

.menu:hover .acilir-menu {
    display: block;
}

.search{
    display: inline-block;
    float: right;
    margin-left: 20px;

}
.isearch{
    width: 150px;
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(57, 57, 57);
    padding: 8px 8px 18px;
    margin-top: 6px;
    transition-duration: 0.6s;
    transition-property: width,color;
}
.isearch:focus{
    width: 160px;
    border-bottom: 3px solid hsl(0, 0%, 0%);
}
#imgsearch{
    height: 25px;
    width: 25px;
}

#divyataycards{
    margin-right: 120px;
}

#r-and-y{
    width:400px; 
    height: 300px; 
    
}
#divimage1{
    border-radius: 100%; 
    display: inline-block;
    overflow: hidden; 
    margin-left: 80px;
}

/*--------- Mause üzerine geldiğinde yakınlaştır ve 50 px sola hareket ettir START  -----------------*/
.hareket {
    transform: scale(1);
    transition: all 1.3s;
    position: relative;
    left: 0px;
    opacity: 1;
}
.hareket:hover{
    left: 50px;
    transform: scale(1.1);
    opacity: 1;
}
/*--------- END -----------------*/

.ytycards{
    margin: 5px;
}
.div1{
    background:#e8e8e8;
      width:270px;
      height: 290px;
      display:inline-block;
      border-radius:50px;
      color:#858585;
      margin: 20px 5px 50px 10px;
      padding: 15px;
}
.div1:hover{
      background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(218,70,252,1) 100%);
      color:#dddddd;
}
.div1:hover i{
    color:rgb(255, 255, 255);
}
.markalar{
    margin: px;
    font-family: Georgia, serif;
font-size: 22px;
letter-spacing: 0.2px;
word-spacing: 6px;
color: #000000;
font-weight: 500;
text-decoration: none;
font-style: italic;
font-variant: small-caps;
text-transform: capitalize;
border-radius: 50px;
}
.markapic{
   
    border-radius: 20%; 
    display: inline-block;
    overflow: hidden;   
}
.fotticon{
    color: black;
}
#footerr{
    background-color: white;
    color: white;
    
}
.footercont{
    background-color: #691c90;
    border-radius: 60px;
    margin-bottom: 25px;
}
#footerr li{
    color: rgb(204, 204, 204);
}

footer i {
    font-size: 25px;
}
