.navbar{
   
    background: linear-gradient(0deg, rgba(46,140,142,1) -70%, rgba(105,28,144,1) 100%);
}

.navbarsearch{
    margin-left: 25%;
}
#icon{
    height: 25px;
    width: 25px;
    margin-left: 50px;
}
.search{
    display: inline-block;
    float: right;
    margin-left: 20px;

}
.isearch{
    width: 150px;
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(57, 57, 57);
    padding: 8px 8px 18px;
    margin-top: 6px;
    transition-duration: 0.6s;
    transition-property: width,color;
}
.isearch:focus{
    width: 160px;
    border-bottom: 3px solid #691c90;
}
#imgsearch{
    height: 25px;
    width: 25px;
}

#divyataycards{
    margin-right: 120px;
}

#r-and-y{
    width:400px; 
    height: 300px; 
    
}
#divimage1{
    border-radius: 100%; 
    display: inline-block;
    overflow: hidden; 
    margin-left: 80px;
}
#footerr{
    background-color: #691c90;
    color: white;
}
#footerr li{
    color: rgb(204, 204, 204);
}